<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->
<fuse-vertical-navigation
    class="dark bg-gray-900 print:hidden"
    [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'"
    [navigation]="navigation.default"
    [opened]="!isScreenSmall"
>
    <!-- Navigation header hook -->
    <ng-container fuseVerticalNavigationContentHeader>
        <div class="flex items-center w-full p-4 pl-6">
            <!-- Logo -->
            <div class="flex items-center justify-center">
                <img
                    class="w-16"
                    src="assets/images/logo/logo.svg"
                    alt="image"
                />
                <p>Intvprep.</p>
            </div>
            <!-- Components -->
            <!-- <div class="flex items-center ml-auto">
                <notifications></notifications>
                <user [showAvatar]="false"></user>
            </div> -->
        </div>
        <!-- User -->
        <!-- <div class="flex flex-col items-center w-full p-4">
            <div class="relative w-24 h-24">
                <img
                    class="w-full h-full rounded-full"
                    *ngIf="user.avatar"
                    [src]="user.avatar"
                    alt="User avatar">
                <mat-icon
                    class="icon-size-24"
                    *ngIf="!user.avatar"
                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </div>
            <div class="flex flex-col items-center justify-center w-full mt-6">
                <div class="w-full whitespace-nowrap text-ellipsis overflow-hidden text-center leading-normal font-medium">
                    {{user.name}}
                </div>
                <div class="w-full mt-0.5 whitespace-nowrap text-ellipsis overflow-hidden text-center text-md leading-normal font-medium text-secondary">
                    {{user.email}}
                </div>
            </div>
        </div> -->
    </ng-container>
    <!-- Navigation footer hook -->
    <!-- <ng-container fuseVerticalNavigationContentFooter>
        <div class="flex flex-0 items-center justify-center h-16 pr-6 pl-2 mt-8 mb-4">
            <img class="max-w-36" src="assets/images/newYear/newyear.png">
        </div>
    </ng-container> -->
    <ng-container fuseVerticalNavigationContentFooter>
        <div
            class="flex flex-col flex-0 items-center justify-center h-16 pr-6 pl-2 mt-14 mb-4 opacity-50"
        >
            <div class="cursor-pointer" (click)="redirectToPage('contact-us')">
                Contact us
            </div>
            <div
                class="cursor-pointer"
                (click)="redirectToPage('privacy-policy')"
            >
                Privacy Policy
            </div>
        </div>
    </ng-container>
</fuse-vertical-navigation>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0 relative">
    <!-- Header -->
    <div
        class="flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden fixed top-0 left-0 right-0"
    >
        <!-- Navigation toggle button -->
        <button mat-icon-button (click)="toggleNavigation('mainNavigation')">
            <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
        </button>
        <!-- Components -->
        <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
            <!--<languages></languages> -->
            <button
                mat-icon-button
                [matTooltip]="'Buy me a coffee'"
                (click)="openPopup()"
            >
                <img src="assets/images/logo/tea-logo-1.gif" alt="img" />
            </button>
            <button
                class="fuse-alert-dismiss-button"
                mat-icon-button
                [matTooltip]="'Daily Jobs Update'"
            >
                <a href="https://www.instagram.com/sagesyntax?igsh=d2Jvcnl6aTFzYXc5" target="_blank">
                    <img
                    src="assets/images/backgrounds/insta.png"
                    alt="image"
                />
                </a>
            </button>
            <button mat-icon-button [matTooltip]="'Web Dev Discussion'">
                <a href="https://t.me/+uB_Bq9uDEVU5MTM9" target="_blank">
                    <img
                        src="assets/images/backgrounds/telegram.png"
                        alt="image"
                    />
                </a>
            </button>
            <button mat-icon-button [matTooltip]="'Connect with us!'">
                <a href="https://wa.link/ee1t02" target="_blank">
                    <img
                        src="assets/images/backgrounds/wp.png"
                        alt="image"
                    />
                </a>
            </button>
            <button mat-icon-button [matTooltip]="'Lets Connect!'">
                <a href="https://www.linkedin.com/in/sanjeev1995" target="_blank">
                    <img src="assets/images/backgrounds/linkedin.png" alt="image">
                </a>
            </button>
            <div class="grid grid-cols-1 gap-3 justify-items-start">
                <!-- Auto -->

                <!-- Dark -->
                <div
                    class="flex items-center py-3 pl-5 pr-6 rounded-full cursor-pointer ring-inset ring-primary bg-hover"
                    [class.ring-2]="config.scheme === 'dark'"
                    (click)="setScheme('dark')"
                    *ngIf="!showIcon"
                >
                    <div class="flex items-center rounded-full overflow-hidden">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:moon'"
                        ></mat-icon>
                    </div>
                    <div
                        class="flex items-center ml-2 font-medium leading-5"
                        [class.text-secondary]="config.scheme !== 'dark'"
                    >
                        Dark
                    </div>
                </div>
                <!-- Light -->
                <div
                    class="flex items-center py-3 pl-5 pr-6 rounded-full cursor-pointer ring-inset ring-primary bg-hover"
                    [class.ring-2]="config.scheme === 'light'"
                    (click)="setScheme('light')"
                    *ngIf="showIcon"
                >
                    <div class="flex items-center rounded-full overflow-hidden">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:sun'"
                        ></mat-icon>
                    </div>
                    <div
                        class="flex items-center ml-2 font-medium leading-5"
                        [class.text-secondary]="config.scheme !== 'light'"
                    >
                        Light
                    </div>
                </div>
            </div>
            <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>

            <!-- <div class="m-16 logo cursor-pointer" title="Buy me a coffee" (click)="openPopup()">
                <img src="assets/images/logo/tea-logo-1.gif">
            </div> -->
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto">
        <!-- *ngIf="true " hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <!--<div class="relative flex flex-0 items-center justify-start w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden ">
        <span class="font-medium text-secondary ">Fuse &copy; {{currentYear}}</span>
    </div>-->
</div>

<!-- Quick chat -->
<!-- <quick-chat #quickChat="quickChat "></quick-chat> -->
