<div class="fixed flex items-center justify-center right-0 w-10 h-10 shadow-lg rounded-l-lg z-90 cursor-pointer bg-red-600 bg-opacity-90 print:hidden" [class.lg:right-0]="
        config.layout === 'centered' || config.layout === 'material'
    " [class.lg:right-0]="
        config.layout !== 'centered' && config.layout !== 'material'
    " style="top: 275px" (click)="settingsDrawer.toggle()">
    <mat-icon class="icon-size-5 text-white animate-spin-slow" [svgIcon]="'heroicons_solid:cog'"></mat-icon>
</div>

<fuse-drawer class="w-screen sm:w-100 sm:min-w-100 z-999" fixed [mode]="'over'" [name]="'settingsDrawer'" [position]="'right'" #settingsDrawer>
    <div class="flex flex-col w-full overflow-auto bg-card">
        <div class="flex flex-row items-center px-6 h-20 min-h-20 text-white bg-primary">
            <mat-icon class="icon-size-7 text-current" [svgIcon]="'heroicons_solid:clock'"></mat-icon>
            <div class="ml-3 text-2xl font-semibold tracking-tight">
                {{clock | date:'medium'}}
            </div>
            <button class="ml-auto" mat-icon-button (click)="settingsDrawer.close()">
                <mat-icon
                    class="text-current"
                    [svgIcon]="'heroicons_outline:x'"
                ></mat-icon>
            </button>
        </div>

        <div class="flex flex-col p-6" *ngIf="getConfig.length > 0">
            <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">
                List Of Questions :
            </h2>
            <ul class="space-y-1 max-w-md  list-outside text-black dark:text-gray-400">
                <li *ngFor="let x of getConfig" (click)="navigate(x.id)">
                    <span class="leading-9 text-lg cursor-pointer hover:border-b-2 border-indigo-700 dark:hover:text-white" *ngFor="let y of x.Que">{{y.q }}</span>
                </li>

            </ul>
        </div>
    </div>
</fuse-drawer>